html, body {
    height: 100%;
    margin: 0;
    background-color: #1E1E1E;
    width: 100%;
}

.barbie-img{ 
    width: 100%;
    height: 70%;
    max-height: 1000px;
    object-fit: cover
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%; /* Adjust based on the image height */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Aligns content to the bottom */
    padding: 20px; /* Add padding inside the overlay for spacing */
}

.mov-des{
    color: black; 
    font-size: 28px;
    padding-top: 30%;
    padding-left: 50px;
    font-family: 'Outfit';
    font-weight: 400; 
    word-wrap: break-word;
    text-transform: capitalize;
}

.score-cont{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px; 
    padding-left: 45%;
    padding-top: 30%;
}
.circle-score {
    max-height: 100px; 
    flex-shrink: 0; 
}
.play-icon {
    width: 20px; /* Example fixed width, adjust as needed */
    height: auto; /* Keeps the aspect ratio */
    margin-left: 10px; /* Space between text and icon */
}
.watch-btn{ 
    margin: 4px 10px;
    font-size: 20px;
    color: black; 
    width: 200px;
    height: 45%;
    font-family: Outfit;
    font-weight: 800;
    word-wrap: break-word; 
    background-color: (255, 255, 255, 0.58);
    padding: 8px;
    border-radius: 10px;
    border: 0.0px black solid;
    display: flex;
    justify-content: center;
    align-items: center; /* Center text and icon within the button */
}
.title-holder{ 
    display: flex; /* This enables Flexbox for the container */
    justify-content: space-around; /* This spreads out the child elements evenly */
    align-items: center; /* This centers the items vertically */
    width: 100%;
    height:100%;
    background-color: aliceblue;
    
}
.Rectangle4, .Rectangle5, .Rectangle6 {
    width: 100%; /* Adjusts the width to take up less space so they fit side by side */
    height: 150px; /* Example height, adjust as needed */
    background: white;
    border: 1px black solid;
    font-size: 40px;
    word-wrap: break-word;
    font-weight: 700;

}

.mov-title{ 
    margin: 10px 0;
    padding: 15px;
    margin-left: 20px;
    color: white; 
    font-size: 48px;
    font-family: 'Outfit';
    font-weight: 700; 
    word-wrap: break-word;
    text-transform: capitalize;
    padding-bottom: 2px;
}
.mov-att{ 
    margin: 10px 0;
    padding: 15px;
    padding-top: 0px;
    margin-left: 20px;
    color: white; 
    font-size: 20px;
    font-family: 'Outfit';
    font-weight: 700; 
    word-wrap: break-word;
    text-transform: capitalize;
    padding-bottom: 2px;
}
.bPost {
    flex-shrink: 0; 
    width: 200px;
    height: 300px;
  }
.details-container {
    display: flex;
    padding: 20px;
  }
.details-holder {
  display: flex;
  background-color: #1E1E1E;
  align-items: flex-start; 
  gap: 20px; 
}

.movie-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    flex-grow: 1;
  }

  .mov-info{ 
      color: white; 
      font-size: 20px;
  }
  .mov-title, .mov-att, .mov-info {
    margin: 0; 
    padding: 0 15px;
  }

  .button-container {
    display: flex; /* Align children in a row */
    gap: 1px; /* Optional: Adds space between buttons */
  }

  .attributes{ 
    margin: 4px 10px;
    font-size: 18px;
    color: white; 
    max-width: 100px;
    height: 45%;
    font-family: Outfit;
    text-align: center;
    font-weight: 900;
    word-wrap: break-word; 
    background-color: transparent;
    padding: 8px;
    border-radius: 34px;
    border: 1.0px rgb(167, 157, 157) solid;
  }

  .sub-title{ 
      color: white; 
      font-size: 20px;
      font-weight: 800;
      margin: 1; 
      padding: 0 15px;
  }
  .info-container {
    display: flex; /* Aligns children (the <p> tags) in a row */
    align-items: center; /* Optional: Vertically centers the items if their heights differ */
    gap: 10px; /* Optional: Adds some space between the elements */
  }
  .des-title{ 
    font-size: 18px;
    color: rgb(252, 140, 158);
  }
  .sub-title, .des-title {
    margin: 0; /* Removes the default margin to prevent unwanted spacing */
    /* Additional styling here */
  }